body {
    background-color: #eee;
}

.navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: white !important;
}

.btn  {
    background-color: rgb(30, 168, 168);
    padding-right: 0px;
    padding-bottom: 0px;
}

h2, h4 {
    color: rgb(33, 179, 179);
    background-color: white;
}

p {
    background-color: white;
}

.col-lg-12 {
    padding: 25px;
    background: white;
}

.landimage {
    float: left;
}

#imgselect {
    border: rgb(30, 168, 168) 2px solid;    
}

#compcontain {
    background-color: white;
    padding: 30px;
} 

