body {
    background-color: #eee;
}

.col-md-6 {
    background-color: white;
}

.navbar-brand {
    font-weight: bold;
    font-size: 30px;
    text-emphasis-color: white;
}

h2, h4 {
    color: rgb(33, 179, 179);
    background-color: white;
}

p {
    background-color: white;
}

.btn  {
    background-color: rgb(30, 168, 168);
    padding-block: 0px;
}

.compcontain {
    background-color: white;
    height: 850px;
    width: 1000px;
    padding: 30px;
    margin-bottom: 40px;
}

.box {
    height: 410px;
    width: 360px;
    padding: 40px;
    background: white;
}

.box1 {
    height: 470px;
    width: 700px;
    padding: 50px;
    background-color: white;
}
